.center {
    text-align: center;
    text-transform: uppercase;
    color: rgb(9, 248, 109);
    -webkit-text-stroke: 1pt #1085d3;
  }
  .form_style {
    display: flex;
    flex-direction: column;
    gap: 2;
    padding: 2px;
  }
  
